.label-brown {
	background-color: #873F00;
}

.label-lightblue {
	background-color: #ADEBFF;	
}

.label-magenta {
	background-color: #D100C0;	
}

.label-orange {
	background-color: #FFAE00;	
}

.label-red {
	background-color: #E31E1E;	
}

.label-yellow {
	background-color: #F6FF00;	
}

.label-green {
	background-color: #2F8F31;
}

.label-blue {
	background-color: #005ED9;
}

.search-result, .cardsByUser-result, .search-togive{
	display : none ;
}